body {
    background: #0b043c;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
}

.playerboardname {
    display: flex;
    color: white;
    justify-content: center;
}

.gridcontainer {
    display: grid;
    justify-content: center;
}

.flexcontainer {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.boardcontainer {
    border: 1vw solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(-45deg, #00d9ff, #fff);
    box-sizing: content-box;
}

.computerboardname {
    display: flex;
    color: white;
    justify-content: center;
}

.computergridcontainer {
    display: grid;
    justify-content: center;
}

.computerboardcontainer {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(-45deg, #00d9ff, #fff);
    box-sizing: content-box;
}

.row {
    display: flex; /* Apply grid display to rows */
    grid-template-columns: repeat(11, 1fr);
    border: 1px solid black;
}

.cell {
    height: clamp(10px, 2vw, 10rem);
    width: clamp(10px, 2vw, 10rem);
    display: inline-block; /* Use inline-block for cells */
    border: 1px solid gray;
}

.computerrow {
    display: flex; /* Apply grid display to rows */
    grid-template-columns: repeat(11, 1fr);
    border: 1px solid black;
}

.computercell {
    background-color: #0b043c;
    height: clamp(10px, 2vw, 10rem);
    width: clamp(10px, 2vw, 10rem);
    display: inline-block; /* Use inline-block for cells */
    border: 1px solid gray;
}

.ship {
    height: 100%;
    width: 100%;
    background-color: red; /* Example background color for ships */
    display: flex;
}

.computership {
    width: 2vw; /* Make the ship as wide as the cell */
    height: 2vw; /* Make the ship as tall as the cell */
    background-color: #0b043c;
    display: flex;
}

#attack {
    background-color: blue;
}

.winnertextcontainer {
    display: flex;
    justify-content: center;
}

.win-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    /* Add more styles as needed */
  }

.buttoncontainer {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}
/* CSS */
#restartbutton {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 20px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 10rem;
}

#restartbutton {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#restartbutton {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

/*#restartbutton {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}*/